/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: start;
}

h1 {
  color: #7a7ffd;
  background: linear-gradient(to bottom, #7a7ffd, #9c4ffd);
  -webkit-text-fill-color: transparent;
  font-size: 58px;
  font-weight: bold;
  -webkit-background-clip: text !important;
  padding-bottom: -10%;
}

.text {
  font-size: 32px;
  color: #ccc;
  word-break: break-all;
  -webkit-background-clip: text;
  background-clip: text;
}

.tagline {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.boton {
  border-radius: 100px;
  padding: 12px 24px;
  max-width: 200px;
  background-color: #7A7FFD;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  transition: background-color 0.2s ease-in-out;
}

.boton:hover {
  background-color: #9C4FFD;
  /* Azul-violeta más oscuro */
}

.boton:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 150px;
  height: auto;
  position: absolute;
  margin-left: 25rem;
}

.card-container {
  display: inline-flex;
}

.cards {
  background-color: #333;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 200px; /* Ancho fijo para cada tarjeta */
  height: 270px;
  margin: 10px; /* Espacio entre las tarjetas */
}

.icono {
  font-size: 24px;
  width: 48px;
  height: 48px;
  background-color: rgba(101, 117, 133, .16);
  border-radius: 10%;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* agregué sombra para dar profundidad */
}


.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; /* agregué negrita para dar énfasis */
}

.description {
  font-size: 16px;
  color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px; /* agregué espacio para que se vea mejor */
}